* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-photo {
    display: block;
    object-fit: cover;
    flex-shrink: 0;

    width: 75px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
