* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-photo {
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

.product-photo_large {
    width: 400px;
    height: 400px;
}

.product-photo_medium {
    width: 90px;
    height: 90px;
}

.product-photo_small {
    width: 75px;
    height: 75px;
}
.product-photo_outline {
    border: 2px solid transparent;
}

.product-photo.active {
    border-color: #1976d2;
}

.link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;

    padding: 15px 0;
    transition: 0.2s;
}
.link.light.active,
.link.light:hover {
    color: #1976d2;
}
.link.dark.active,
.link.dark:hover {
    color: #90caf9;
}
