* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-photo {
    display: block;
    object-fit: cover;

    border: 1px solid #fff;
    border-radius: 5px;
}

.product-photo_large {
    width: 400px;
    height: 400px;
}

.product-photo_small {
    width: 75px;
    height: 75px;

    flex-shrink: 0;
}

.product-photo.active {
    border-color: #90caf9;
}
